form {
  width: 60vw;
  min-height: 50vh;
  margin: 100px auto;
  font-weight: 500;
}

.name-container,
.email-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

label {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

input {
  font-size: 1rem;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.btn-container {
  display: flex;
}
.btn-submit {
  font-size: 1.25rem;
  padding: 5px 10px;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  border: none;
}
